.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.buttonWrapper {
  margin: 2rem 0 4rem 0;
  display: flex;
  flex-direction: row;
  height: 46px;
}
.buttonPage {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left {
  border-right: 0.5px solid;
  padding-right: 10px;
}
.right {
  border-left: 0.5px solid;
  padding-left: 10px;
}
