.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
  box-shadow: 5px 5px 15px -6px #000000;
}
.dexContainer {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
}
.buttonWrapper {
  margin: 2rem 0 4rem 0;
  display: flex;
  flex-direction: row;
  height: 46px;
}
.buttonPage {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left {
  border-right: 0.5px solid;
  padding-right: 10px;
}
.right {
  border-left: 0.5px solid;
  padding-left: 10px;
}
